td > div {
    height:20px;
    width:20px;
	background-color: rgb(200,200,200);
	margin: 2px;
}

button {
	color: white;
	background: #2E8AE6;
	height: 25px;
	width: 75px;
	border: none;
	margin: 10px;
}